#faq {
  border-top: 2px rgba(0, 0, 0, 0.05) solid;
  margin-top: 60px;
  h2 {
    padding-top: 60px;
    @include font("LatoRegular", 60px, 700, normal);
    color: #12d3e2;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .card {
    margin-bottom: 24px;
    border-radius: 10px;
    border: 0;
    .card-header {
      background-color: #eeeeee;
      border: 0;
      border-radius: 10px;
      h5 {
        button {
          @include font("LatoRegular", 17px, 300, normal);
          color: #010101;
          position: relative;
          width: 100%;
          text-align: left;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
          &:after {
            content: url("assets/images/down-arrow.png");
            position: absolute;
            top: 20%;
            right: 2%;
            width: 10px;
            height: auto;
            display: block;
          }
        }
      }
    }
    .card-body {
      background-color: #f6f6f6;
      border-radius: 10px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    h2 {
      font-size: 45px;
    }
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    h2 {
      font-size: 36px;
    }
  }

  @media screen and (max-width: 575px) {
    h2 {
      font-size: 36px;
    }
    .card {
      .card-header {
        h5 {
          button {
            font-size: 14px;
          }
        }
      }
      .card-body {
        font-size: 14px;
      }
    }
  }
}
