header {
  margin-top: 90px;
  background: url("assets/images/header-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  color: #fff;
  position: relative;
  min-height: 475px;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-top-left-radius: 100% 100px;
    border-top-right-radius: 100% 100px;
  }
  h1 {
    @include font("Gilroy", 57px, 400, normal);
    margin-top: 95px;
    margin-bottom: 0;
  }
  img {
    margin: 25px 0;
  }
  ul {
    display: flex;
    li {
      @include font("LatoLight", 25px, 300, normal);
      font-style: italic;
      &:not(:last-child) {
        margin-right: 25px;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          right: -18px;
          top: 17px;
          width: 7px;
          height: 7px;
          background: #fff;
          border-radius: 50%;
        }
      }
    }
  }
  .actions {
    padding-top: 40px;
    @include font("LatoLight", 20px, 300, normal);
    .primary-btn {
      color: #747474;
      border-radius: 27px;
      background-color: #f6f30e;
      padding: 12px 30px;
      transition: all 0.3s ease-in-out;
      &:hover {
        box-shadow: 0 0 42px 4px #f6f30e;
        opacity: 0.8;
      }
    }
    .secondary-btn {
      color: #ffffff;
      border-radius: 27px;
      background-color: #0f8d97;
      padding: 12px 20px;
      margin-left: 15px;
      transition: all 0.3s ease-in-out;
      &:hover {
        box-shadow: 0 0 42px 4px #0f8d97;
        opacity: 0.8;
      }
    }
  }
  .wahser-image {
    margin-top: 135px;
    img {
      max-width: 385px;
      width: 100%;
      height: auto;
      margin-left: auto;
      display: block;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
      font-size: 30px;
    }
    ul {
      li {
        font-size: 18px;
        &:not(:last-child) {
          &:after {
            right: -15px;
            top: 12px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    &:after {
      bottom: -2px;
      height: 45px;
    }
    h1 {
      font-size: 30px;
      text-align: center;
      margin-top: 50px;
    }
    img {
      margin: 15px auto;
      display: block;
    }
    ul {
      justify-content: center;
      li {
        font-size: 18px;
        &:not(:last-child) {
          &:after {
            right: -15px;
            top: 12px;
          }
        }
      }
    }
    .actions {
      text-align: center;
    }
    .wahser-image {
      margin-top: 60px;
      img {
        max-width: 200px;
      }
    }
  }

  @media screen and (max-width: 575px) {
    margin-top: 63px;
    &:after {
      bottom: -2px;
      height: 45px;
    }
    h1 {
      font-size: 21px;
      text-align: center;
      margin-top: 50px;
    }
    img {
      margin: 15px auto;
      display: block;
      &.wave {
        max-width: 30px;
        height: auto;
        margin: 10px auto;
      }
    }
    ul {
      justify-content: center;
      li {
        font-size: 14px;
        &:not(:last-child) {
          margin-right: 15px;
          &:after {
            right: -11px;
            top: 10px;
            width: 4px;
            height: 4px;
          }
        }
      }
    }
    .actions {
      text-align: center;
      padding-top: 25px;
      a {
        font-size: 14px;
        padding: 8px 20px;
      }
      .secondary-btn {
        margin-left: 0;
        margin-top: 10px;
      }
    }
    .wahser-image {
      margin-top: 60px;
      img {
        max-width: 200px;
      }
    }
  }
}
