#how-to-buy {
  .container {
    background: url("assets/images/sale-bg.png");
    background-size: inherit;
    background-position: right bottom;
    background-repeat: no-repeat no-repeat;
  }
  padding-bottom: 35px;

  h2 {
    @include font("LatoRegular", 44px, 700, normal);
    color: #5ac4cb;
  }
  .buy-item {
    margin-top: 80px;
    border-radius: 5px;
    background: rgba(236, 244, 250, 0.4);
    padding: 35px 30px 35px 30px;
    max-width: 295px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &__step {
      margin-bottom: 30px;
    }
    &__title {
      h6 {
        @include font("OpenSans-Regular", 25px, 300, normal);
        color: #000;
        margin-bottom: 0;
      }
      margin-bottom: 20px;
    }
    &__info {
      p {
        @include font("LatoLight", 14px, 300, normal);
        color: #000;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    h2 {
      font-size: 36px;
    }
    .buy-item {
      &__step {
        img {
          max-width: 100px;
        }
      }
      &__title {
        h6 {
          font-size: 18px;
        }
      }
    }
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    margin-top: 25px;
    h2 {
      font-size: 32px;
    }
    .buy-item {
      padding: 30px 25px 30px 25px;
      &__step {
        img {
          max-width: 100px;
        }
      }
      &__title {
        h6 {
          font-size: 18px;
        }
      }
    }
  }

  @media screen and (max-width: 575px) {
    margin-top: 25px;
    h2 {
      font-size: 22px;
    }
    .buy-item {
      padding: 20px 10px 20px 10px;
      margin-top: 40px;
      &__step {
        img {
          max-width: 75px;
        }
      }
      &__title {
        h6 {
          font-size: 16px;
        }
      }
    }
  }
}
