#map-section {
  min-height: 455px;
  position: relative;
  margin-top: 40px;
  #map {
    iframe {
      min-height: 455px;
      height: 100%;
      width: 100%;
      border: 0;
    }
  }
  .over-info {
    position: absolute;
    padding: 40px 60px;
    top: 45px;
    left: 85px;
    background: rgba(30, 145, 201, 0.6);
    .location,
    .phone,
    .email {
      display: flex;
      align-items: center;
      p {
        margin-bottom: 0;
      }
      .text {
        display: flex;
        flex-direction: column;
        padding-left: 17px;
        p,
        a {
          @include font("LatoRegular", 19px, 900, 0.95px);
          line-height: 25px;
          color: #ffffff;
        }
      }
    }
    .phone,
    .email {
      padding-top: 50px;
      a {
        transition: all 0.4s ease-in-out;
        &:hover {
          text-decoration: none;
          color: #f6f30e;
        }
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .over-info {
      padding: 25px 30px;
      top: 75px;
      left: 35px;
      .location,
      .phone,
      .email {
        .icon {
          img {
            max-width: 35px;
          }
        }
        .text {
          p,
          a {
            font-size: 16px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    .over-info {
      padding: 15px 15px;
      top: 130px;
      left: 20px;
      .location,
      .phone,
      .email {
        .icon {
          img {
            max-width: 20px;
          }
        }
        .text {
          p,
          a {
            font-size: 14px;
          }
        }
      }
      .phone,
      .email {
        padding-top: 15px;
      }
    }
  }

  @media screen and (max-width: 575px) {
    .over-info {
      order: 1;
      position: relative;
      padding: 25px 15px;
      left: 0;
      top: 0;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .location,
      .phone,
      .email {
        .icon {
          img {
            max-width: 30px;
          }
        }
        .text {
          p,
          a {
            font-size: 16px;
          }
        }
      }
      .phone,
      .email {
        padding-top: 15px;
      }
    }
  }
}
