#why-we {
  margin-top: 80px;
  .container {
    background: url("assets/images/why-we-bg.png");
    background-size: inherit;
    background-position: left top;
    background-repeat: no-repeat no-repeat;
  }
  h2 {
    @include font("LatoRegular", 60px, 700, normal);
    color: #12d3e2;
  }
  .feature-item {
    margin-top: 55px;
    display: flex;
    align-items: center;
    &__num {
      p {
        @include font("OpenSans-ExtraBold", 100px, 400, normal);
        color: #50dae7;
      }
    }
    &__info {
      margin-left: 35px;
      p {
        @include font("OpenSans-Regular", 34px, 400, normal);
        color: #000000;
        margin-bottom: 0;
      }
    }
  }
  .action {
    margin-top: 80px;
    button.btn {
      @include font("LatoRegular", 50px, 300, normal);
      color: #000000;
      border-radius: 27px;
      background-color: #f6f30e;
      padding: 8px 45px;
      transition: all 0.3s ease-in-out;
      &:hover {
        box-shadow: 0 0 42px 4px #f6f30e;
        transform: scale(1.03);
        opacity: 0.8;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    h2 {
      font-size: 40px;
    }
    .feature-item {
      margin-top: 40px;
      &__num {
        p {
          margin-bottom: 0;
          font-size: 60px;
        }
      }
      &__info {
        p {
          font-size: 20px;
        }
      }
    }
    .action {
      margin-top: 50px;
      button.btn {
        font-size: 36px;
      }
    }
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    h2 {
      font-size: 40px;
    }
    .feature-item {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      &__num {
        p {
          margin-bottom: 0;
          font-size: 60px;
        }
      }
      &__info {
        p {
          font-size: 20px;
        }
      }
    }
    .action {
      margin-top: 50px;
      button.btn {
        font-size: 36px;
      }
    }
  }

  @media screen and (max-width: 575px) {
    h2 {
      font-size: 30px;
    }
    .feature-item {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      &__num {
        p {
          margin-bottom: 0;
          font-size: 40px;
        }
      }
      &__info {
        p {
          font-size: 14px;
        }
      }
    }
    .action {
      margin-top: 50px;
      button.btn {
        font-size: 22px;
      }
    }
  }
}
